<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>870829679201-po05nmvklv9nqu1pmj520rn8urm0gk60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870829679201-po05nmvklv9nqu1pmj520rn8urm0gk60</string>
	<key>API_KEY</key>
	<string>AIzaSyBvlOTQzwduXV6_TJ45CjjoCcK4AgRZIgA</string>
	<key>GCM_SENDER_ID</key>
	<string>870829679201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winstonlan.AntRoomies</string>
	<key>PROJECT_ID</key>
	<string>antroomies-44f78</string>
	<key>STORAGE_BUCKET</key>
	<string>antroomies-44f78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870829679201:ios:96195032796d9f52</string>
	<key>DATABASE_URL</key>
	<string>https://antroomies-44f78.firebaseio.com</string>
</dict>
</plist>